:root {
    --width-desctop: 1024px;
    --width-mobail: 500px;
    --bg-color-body: #9BA3AE;
    --bg-color-container: #F3F3F4;
    --bg-color-slider: #25282A;
    --dots-color-normal: #71ABFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: var(--bg-color-body);
}

.container {
    max-width: var(--width-desctop);
    padding: 20px;
    margin: auto;
}

.slider__wrapper {
    width: 100%;
    max-height: 600px;
    background-color: var(--bg-color-slider);
    margin: auto;
    overflow: hidden;
    border: 20px solid var(--bg-color-slider);
    border-radius: 5px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 100%;
}

/* Images============================= */
.slider__img {
    order: 1;
    min-width: 500%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.card {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    transition: all .6 ease;
}

.image {
    width: 100%;
    border-radius: 10px;
}

/* String - Titls=============================*/
.slider__title {
    flex-basis: 50%;
    order: 2;
    overflow: hidden;
    color: var(--bg-color-container);
}

.slider__title-wrapper {
    display: flex;
    min-width: 500%;
    padding: 0 0 40px 20px;
}

.slider__title-text {
    flex-basis: 100%;
    width: 20%;
    font-size: 2rem;
    font-weight: bold;
}


/*Input - Dots=============================*/

/* hidden*/
.slider__input {
    display: none;
}

.slider__input-radio {
    display: none;
}

.slider__navigation {
    order: 3;
    flex-basis: 50%;
    align-self: end;
    align-items: end;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 40px;
    column-gap: 0.5rem;
}

/* Visible input=============================== */
.slider__navigation-items {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.slider__navigation-dots {
    display: block;
    text-align: center;
    width: 1.6rem;
    height: 1.6rem;
    background: var(--dots-color-normal);
    border-radius: 50%;
    margin: 7px;
    line-height: 3rem;
    transition: background ease-in-out .5s;
}

/* Ховер для облати вокуг ====================================*/
.slider__navigation-items:hover {
    background-color: rgba(155, 163, 174, 0.3);
}

.slider__navigation-items:hover .slider__navigation-dots {
    background: var(--bg-color-container);
}


/*Checked*/

#img1:checked~.slider__navigation .slider__navigation-items:nth-of-type(1) label,
#img2:checked~.slider__navigation .slider__navigation-items:nth-of-type(2) label,
#img3:checked~.slider__navigation .slider__navigation-items:nth-of-type(3) label,
#img4:checked~.slider__navigation .slider__navigation-items:nth-of-type(4) label,
#img5:checked~.slider__navigation .slider__navigation-items:nth-of-type(5) label {
    background: var(--bg-color-slider);
    border: 2px solid var(--dots-color-normal);
}

#img1:checked~.slider__navigation .slider__navigation-items:nth-of-type(1):hover label,
#img2:checked~.slider__navigation .slider__navigation-items:nth-of-type(2):hover label,
#img3:checked~.slider__navigation .slider__navigation-items:nth-of-type(3):hover label,
#img4:checked~.slider__navigation .slider__navigation-items:nth-of-type(4):hover label,
#img5:checked~.slider__navigation .slider__navigation-items:nth-of-type(5):hover label {
    background: var(--bg-color-slider);
    border: 2px solid var(--bg-color-container);
}


/* State change ========================*/
#img1:checked~.slider__img .card .image {
    margin-left: 0;
}

#img1:checked~.slider__title .slider__title-wrapper .slider__title-text {
    margin-left: 0;
}

#img2:checked~.slider__img .card .image {
    margin-left: -100%;
}

#img2:checked~.slider__title .slider__title-wrapper .slider__title-text {
    margin-left: -20%;
}

#img3:checked~.slider__img .card .image {
    margin-left: -200%;
}

#img3:checked~.slider__title .slider__title-wrapper .slider__title-text {
    margin-left: -40%;
}

#img4:checked~.slider__img .card .image {
    margin-left: -300%;
}

#img4:checked~.slider__title .slider__title-wrapper .slider__title-text {
    margin-left: -60%;
}

#img5:checked~.slider__img .card .image {
    margin-left: -400%;
}

#img5:checked~.slider__title .slider__title-wrapper .slider__title-text {
    margin-left: -80%;
}